<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://apple.com">
<plist version="1.0">
<dict>
    <key>name</key>
    <string>flan</string>
    <key>uuid</key>
    <string>09b9767e-f0c9-4659-b5ea-474aa89147e5</string>
    <key>description</key>
    <string>flan syntax</string>
</dict>
</plist>
